@font-face {
    font-family: "KuCoin";
    src: url(https://www.kucoin.com/static/KuCoin.50f4bc08.ttf) format("truetype"),
      url(https://www.kucoin.com/static/KuCoin.3e0a0952.woff) format("woff"),
      url(https://www.kucoin.com/static/KuCoin.5a562bc6.svg#KuCoin) format("svg");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: URWDIN-Medium;
    src: url(https://www.kucoin.com/static/URWDIN-Medium.f886593b.woff),
      url(https://www.kucoin.com/static/URWDIN-Medium.91269cde.woff2);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }
  
  @font-face {
    font-family: URWDIN-Regular;
    src: url(https://www.kucoin.com/static/URWDIN-Regular.392d3b49.woff),
      url(https://www.kucoin.com/static/URWDIN-Regular.42302b77.woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }


  @font-face {
    font-family: 'Proxima';
    src: url('/assets/fonts/latin/Proxima-Nova-Font.woff' ) format('woff2');
}