.tabs-wrapper.svelte-19r2r86 {
    /* display: flex;
      padding-bottom: 5px;
      flex-shrink: 0; */
    margin: auto;
    width: 90%;
  }
  
  .scrollX {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate(0);
    -moz-transform: none !important;
    scrollbar-width: thin;
  }
  
  .slider.variant-dark.svelte-19r2r86 {
    background: #2a2e39;
  }
  
  .slider.svelte-19r2r86 {
    display: flex;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    flex-shrink: 0;
  }
  
  .content-wrapper.svelte-19r2r86 {
    display: flex;
  }
  
  a.variant-tabmenu.active.svelte-1nm3p7f,
  a.variant-tabmenu.active.svelte-1nm3p7f:hover:not([disabled]) {
    color: white;
    background: #2962ff !important;
    padding-right: 30px;
    margin: 7px;
  }
  
  .content-wrapper.svelte-19r2r86 > *:first-child {
    margin-left: 0;
  }
  
  a.variant-tabmenu.svelte-1nm3p7f {
    color: var(--white);
    background: transparent;
    box-shadow: none !important;
  }
  
  a.spacing-primary.svelte-1nm3p7f {
    padding: 0.75em 1em;
  }
  
  a.align-left.svelte-1nm3p7f {
    justify-content: flex-start;
  }
  
  a.size-medium.svelte-1nm3p7f {
    font-size: 13px;
  }
  
  a.weight-semibold.svelte-1nm3p7f {
    font-weight: 600;
  }
  
  a.lineHeight-base.svelte-1nm3p7f {
    line-height: 1.5;
  }
  
  a.svelte-1nm3p7f {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    -webkit-tap-highlight-color: transparent;
    /* transition: var(--transition-fast); */
    flex-shrink: 0;
  }
  
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  a.variant-tabmenu:not(.iconOnly).active.svelte-1nm3p7f .svg-icon {
    color: white;
  }
  
  a.variant-tabmenu.svelte-1nm3p7f:not(.iconOnly) .svg-icon {
    transition: color 0.2s;
    color: white;
  }
  
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  a {
    text-decoration: none;
    color: #cecece !important;
  }
  
  /* SEAT TWO */
  
  .content.svelte-wn494n.svelte-wn494n {
    display: flex;
    flex-direction: column;
    border: 1px solid #2a2e39;
    border-radius: 0 0 20px 20px;
    background: #2a2e3973;
    padding: 5px;
    margin: auto;
    width: 90%;
    margin-top: 10px;
  }
  
  .results-wrapper.svelte-wn494n > * + * {
    margin-top: 1rem;
  }
  
  .recent-search-wrap.svelte-xv4j9f {
    display: flex;
    flex-direction: column;
  }
  
  .search-result.svelte-xv4j9f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-result-content.svelte-xv4j9f {
    flex: 1;
  }
  
  button.variant-link.svelte-gf9xjq {
    color: white;
    background: none;
    border-radius: 0;
  }
  
  button.spacing-normal.svelte-gf9xjq {
    padding: 0.5em 1em;
  }
  
  button.fullWidth.svelte-gf9xjq {
    display: flex;
    width: 100%;
  }
  
  button.align-left.svelte-gf9xjq {
    justify-content: flex-start;
  }
  
  button.weight-semibold.svelte-gf9xjq {
    font-weight: 600;
    font-size: 13px;
  }
  
  button.lineHeight-base.svelte-gf9xjq {
    line-height: 1.5;
  }
  
  button.svelte-gf9xjq {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0;
  }
  
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  button.variant-link.svelte-gf9xjq:not(.iconOnly) .svg-icon {
    transition: color 0.2s;
    color: #b1bad3;
  }
  
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .content-or-loader.svelte-1uofbko > * + * {
    margin-left: 0.5rem;
  }
  
  button.variant-subtle-link.svelte-gf9xjq {
    color: #b1bad3;
    background: none;
    border-radius: 0;
  }
  
  button.spacing-normal.svelte-gf9xjq {
    padding: 0.5em 1em;
  }
  
  button.align-left.svelte-gf9xjq {
    justify-content: flex-start;
  }
  
  button.weight-semibold.svelte-gf9xjq {
    font-weight: 600;
  }
  
  button.lineHeight-base.svelte-gf9xjq {
    line-height: 1.5;
  }
  
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  button.variant-subtle-link.iconOnly.svelte-gf9xjq .svg-icon {
    transition: color 0.2s;
    color: #b1bad3;
  }
  
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .exception-wrap.svelte-wn494n.svelte-wn494n {
    padding: 2rem;
    margin: auto;
  }
  
  p.variant-subtle.svelte-v8zorn {
    color: #cecece;
    font-size: 13px;
  }
  
  p.variant-subtle.svelte-v8zorn:hover {
    color: white;
  }
  
  .svelte-1uofbko:hover .search-term {
    color: #2962ff;
    margin-left: 5px;
  }
  
  .svelte-1uofbko:hover svg {
    color: #2962ff;
  }
  
  .undersharch {
    /* background-color: #131722; */
    padding-block: 15px;
    width: 100%;
  }

  .brtys {
    display: none;
  }
  .close {
    display: block;
  }
  
  .input-wrap.svelte-cdjsh7 {
    width: 100%;
    color: white;
    background: #0f212e;
    box-shadow: var(--input-box-shadow);
    border: 2px solid #2f4553;
    letter-spacing: 0;
    font-weight: 600;
    transition: all 0.25s;
    outline: 0;
    margin: 0;
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 0 1rem;
  }
  .search-icon.svelte-cdjsh7 {
    z-index: 2;
    color: #557086;
    font-size: 1.125rrem;
    margin-bottom: -3px;
  }
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  input.svelte-cdjsh7 {
    width: 100%;
    outline: 0;
    background: #0f212e;
    color: white;
    padding: 0.5em;
    cursor: text;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1.5;
  }
  .cross-icon.svelte-cdjsh7 {
    background: none;
    z-index: 2;
    font-size: 1.125rem;
    margin-right: -15px;
  }
  button.variant-link.svelte-gf9xjq {
    color: white;
    background: none;
    border-radius: 0;
    padding: 0.5em;
    justify-content: flex-start;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    appearance: none;
    margin: 0;
    border: none;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: var(--transition-fast);
    flex-shrink: 0;
  }
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  button.variant-link.svelte-gf9xjq:not(.iconOnly) .svg-icon {
    transition: color 0.2s;
    color: white;
    font-size: 10px;
    margin-right: 10px;
  }
  
  .tabs-wrapper.svelte-19r2r86 {
    /* display: flex;
      padding-bottom: 5px;
      flex-shrink: 0; */
    margin: auto;
    width: 90%;
  }
  
  .scrollX {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    transform: translate(0);
    -moz-transform: none !important;
    scrollbar-width: thin;
  }
  
  .slider.variant-dark.svelte-19r2r86 {
    background: #2a2e39;
  }
  
  .slider.svelte-19r2r86 {
    display: flex;
    border-radius: 20px 20px 0 0;
    padding: 5px;
    flex-shrink: 0;
  }
  
  .content-wrapper.svelte-19r2r86 {
    display: flex;
  }
  
  a.variant-tabmenu.active.svelte-1nm3p7f,
  a.variant-tabmenu.active.svelte-1nm3p7f:hover:not([disabled]) {
    color: white;
    background: #2962ff !important;
    padding-right: 30px;
    margin: 7px;
  }
  
  .content-wrapper.svelte-19r2r86 > *:first-child {
    margin-left: 0;
  }
  
  a.variant-tabmenu.svelte-1nm3p7f {
    color: var(--white);
    background: transparent;
    box-shadow: none !important;
  }
  
  a.spacing-primary.svelte-1nm3p7f {
    padding: 0.75em 1em;
  }
  
  a.align-left.svelte-1nm3p7f {
    justify-content: flex-start;
  }
  
  a.size-medium.svelte-1nm3p7f {
    font-size: 13px;
  }
  
  a.weight-semibold.svelte-1nm3p7f {
    font-weight: 600;
  }
  
  a.lineHeight-base.svelte-1nm3p7f {
    line-height: 1.5;
  }
  
  a.svelte-1nm3p7f {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    -webkit-tap-highlight-color: transparent;
    /* transition: var(--transition-fast); */
    flex-shrink: 0;
  }
  
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  a.variant-tabmenu:not(.iconOnly).active.svelte-1nm3p7f .svg-icon {
    color: white;
  }
  
  a.variant-tabmenu.svelte-1nm3p7f:not(.iconOnly) .svg-icon {
    transition: color 0.2s;
    color: white;
  }
  
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  a {
    text-decoration: none;
    color: #cecece !important;
  }
  
  /* SEAT TWO */
  
  .content.svelte-wn494n.svelte-wn494n {
    display: flex;
    flex-direction: column;
    border: 1px solid #2a2e39;
    border-radius: 0 0 20px 20px;
    background: #2a2e3973;
    padding: 5px;
    margin: auto;
    width: 90%;
    margin-top: 10px;
  }
  
  .results-wrapper.svelte-wn494n > * + * {
    margin-top: 1rem;
  }
  
  .recent-search-wrap.svelte-xv4j9f {
    display: flex;
    flex-direction: column;
  }
  
  .search-result.svelte-xv4j9f {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .search-result-content.svelte-xv4j9f {
    flex: 1;
  }
  
  button.variant-link.svelte-gf9xjq {
    color: white;
    background: none;
    border-radius: 0;
  }
  
  button.spacing-normal.svelte-gf9xjq {
    padding: 0.5em 1em;
  }
  
  button.fullWidth.svelte-gf9xjq {
    display: flex;
    width: 100%;
  }
  
  button.align-left.svelte-gf9xjq {
    justify-content: flex-start;
  }
  
  button.weight-semibold.svelte-gf9xjq {
    font-weight: 600;
    font-size: 13px;
  }
  
  button.lineHeight-base.svelte-gf9xjq {
    line-height: 1.5;
  }
  
  button.svelte-gf9xjq {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    cursor: pointer;
    touch-action: manipulation;
    position: relative;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 100px;
    -webkit-tap-highlight-color: transparent;
    flex-shrink: 0;
  }
  
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  button.variant-link.svelte-gf9xjq:not(.iconOnly) .svg-icon {
    transition: color 0.2s;
    color: #b1bad3;
  }
  
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .content-or-loader.svelte-1uofbko > * + * {
    margin-left: 0.5rem;
  }
  
  button.variant-subtle-link.svelte-gf9xjq {
    color: #b1bad3;
    background: none;
    border-radius: 0;
  }
  
  button.spacing-normal.svelte-gf9xjq {
    padding: 0.5em 1em;
  }
  
  button.align-left.svelte-gf9xjq {
    justify-content: flex-start;
  }
  
  button.weight-semibold.svelte-gf9xjq {
    font-weight: 600;
  }
  
  button.lineHeight-base.svelte-gf9xjq {
    line-height: 1.5;
  }
  
  .content-or-loader.svelte-1uofbko {
    display: inline-flex;
    position: relative;
    align-items: center;
  }
  
  button.variant-subtle-link.iconOnly.svelte-gf9xjq .svg-icon {
    transition: color 0.2s;
    color: #b1bad3;
  }
  
  .svg-icon.svelte-10mcogx {
    pointer-events: none;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    flex-shrink: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .exception-wrap.svelte-wn494n.svelte-wn494n {
    padding: 2rem;
    margin: auto;
  }
  
  p.variant-subtle.svelte-v8zorn {
    color: #cecece;
    font-size: 13px;
  }
  
  p.variant-subtle.svelte-v8zorn:hover {
    color: white;
  }
  
  .svelte-1uofbko:hover .search-term {
    color: #2962ff;
    margin-left: 5px;
  }
  
  .svelte-1uofbko:hover svg {
    color: #2962ff;
  }
  
  .undersharch {
    /* background-color: #131722; */
    padding-block: 15px;
  }



  /* //////////////////////////// */

  .slick-carousel {
    margin: 0 auto;
    width: 1000px;
  }
  
  /* The width of each slide */
  .slick-slide {
    width: auto;
  }
  
  /* Color of the arrows */
  .slick-next::before,
  .slick-prev::before {
    color: turquoise;
  }
  
  img {
    width: 100%;
    height: 100%;
  }
  .carousel .carousel-control-prev-icon {
    /* change fill="currentColor" to %23fff to make it white  */
    background-image: url('data:image/svg+xml,<svg class="bi bi-camera" width="1em" height="1em" viewBox="0 0 20 20" fill="%23fff " xmlns="http://www.w3.org/2000/svg"><path d="M11 7c-1.657 0-4 1.343-4 3a4 4 0 014-4v1z"/><path fill-rule="evenodd" d="M16.333 5h-2.015A5.97 5.97 0 0011 4a5.972 5.972 0 00-3.318 1H3.667C2.747 5 2 5.746 2 6.667v6.666C2 14.253 2.746 15 3.667 15h4.015c.95.632 2.091 1 3.318 1a5.973 5.973 0 003.318-1h2.015c.92 0 1.667-.746 1.667-1.667V6.667C18 5.747 17.254 5 16.333 5zM3.5 7a.5.5 0 100-1 .5.5 0 000 1zm7.5 8a5 5 0 100-10 5 5 0 000 10z" clip-rule="evenodd"/><path d="M4 5a1 1 0 011-1h1a1 1 0 010 2H5a1 1 0 01-1-1z"/></svg>');
  }
  
  .carousel .carousel-control-next-icon {
    /* change fill="currentColor" to %23fff to make it white  */
    background-image: url('data:image/svg+xml,<svg class="bi bi-bootstrap-fill" viewBox="0 0 20 20" fill="%23fff" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6.002 2a4 4 0 00-4 4v8a4 4 0 004 4h8a4 4 0 004-4V6a4 4 0 00-4-4h-8zm1.06 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.543-2.11H7.063V14zm1.313-4.875V6.658h1.78c.974 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23H8.375zm0 3.762h1.898c1.184 0 1.81-.48 1.81-1.377 0-.885-.65-1.348-1.886-1.348H8.375v2.725z" clip-rule="evenodd"/></svg>');
  }