@font-face {
  font-family: 'Proxima';
  src: url('./assets//fonts/Proxima-Nova-Font.woff') format('woff2')
}



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #111722 !important;
  color: #cecece !important;
  font-family: "Proxima";
}

button {
  text-transform: none !important;
}

.custom-dropdown {
  margin: 0 !important;
  text-align: left;
  width: 60%;
}

.label77 {
  text-align: left;
  font-size: 12px;
  color: white;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #1C2230;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, #A20000, #1C2230);

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, #A20000, #1C2230)
}

.form-notch-leading,
.form-notch-middle,
.form-notch-trailing {
  border: none !important;
}

.form-outline.form-white .form-control~.form-label {
  color: #737272;
  font-size: 11px;
}

.form-outline.form-white .form-control {
  color: #cecece;
  background: #111722 !important;
  font-size: 13px;
  height: 50px;
  border-radius: 10px;
}

.social321 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.fbsocial svg {
  width: 30px;
  height: 30px;
  color: white;
}

.googlesocial svg {
  width: 30px;
  height: 30px;
  color: white;
}

.linesocial svg {
  width: 30px;
  height: 30px;
  color: white;
}

.othersocial svg {
  width: 30px;
  height: 30px;
  color: white;
}

.so77 {
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  background-color: #363945;
  border-radius: 5px;
}

.so77:hover {
  opacity: 0.8;
}

.mb-md-5 {
  margin-bottom: 0 !important;
}

.pb-5 {
  padding-bottom: 0 !important;
}

.captcha99 {
  color: white;
  font-size: 13px;
}

.kjh50 {
  color: white !important;

}

.reg8767 {
  color: #00B4CC;
  font-size: 13px;
}

.kjh50:hover {
  color: #00B4CC !important;
}

.forget897 {
  padding-bottom: 0 !important;
  padding-top: 20px;
  color: white;
}

.logsub {
  width: 100%;
  background-color: #24ae8f !important;
  color: black;
}

.logsub:hover {
  background-color: #24ae8f !important;
  opacity: 0.8;
  color: black;
}

.sigin77 {
  text-transform: none !important;
  color: #a3a6af;
  font-size: 18px;
}

.label90 {
  text-transform: none !important;
  color: #a3a6af;
  font-size: 15px;
  text-align: left;
}
.yy77 input:active , .yy77 input:focus , .dd77 input:focus , .dd77 input:active{
  background-color: #111722 !important;
  opacity: 0.8;
  border: none !important;
}
.yy77 input{
  height: 30px;
  background: #111722;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}
.dd77 input{
  height: 30px;
  background: #111722;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 13px;
}
.monthbri select{
  height: 30px;
  background: #111722;
  border: none;
  border-radius: 5px;
  color: #a3a6afa1;
  font-size: 13px;
}
.cent77{
  margin-right: 390px;
  display: flex;
}
.chek77{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: baseline;
}
.alp987{
  margin-top: 20px;
}
.form-check-input:checked {
  border-color: #24ae8f;
}
.form-check-input[type=checkbox]:checked {
  background-color: #24ae8f;
}
.ply77{
  margin-top: 15px;
}
.fm33{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 15px;
}
.login-winsview,
.modal-body {
  background-color: #1e222d;
  border-radius: 25px;
  -webkit-border-radius: 25px;
}

.btn-close {
  background: none !important;
  font-size: 20px;
  float: right;
  color: white !important;
}

.modal-content {

  border-radius: 30px !important;
  -webkit-border-radius: 30px !important;
}

.form-outlinel {
  background: #111722;
  border-radius: 5px !important;
  -webkit-border-radius: 5px !important;
  height: 27px;
  width: 125px;
}

.form-outlinel .form-control {
  width: 100px;
  min-height: auto;
  height: 27px;
  padding: .32rem .75rem;
  border: 0;
  color: white;
  background: #111722;
  transition: all .2s linear;
}

.form-outline .form-control::placeholder {
  color: #d1d4dc !important;
}

/* Mounth */

.small {
  font-size: .7em;
}

.square {
  width: .7em;
  height: .7em;
  margin: .5em;
  display: inline-block;
}

/* Custom dropdown */
.custom-dropdown {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
  /* demo only */
}

.custom-dropdown select {
  background-color: #111722;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;
  border: 0;
  margin: 0;
  border-radius: 5px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button;

}
.nm8787{
  color: white;
  font-size: 15px;
  margin-left: 10px;
}
.a44nic{
  color: white;
}
.a44nic:hover{
  background: none !important;
  color: white;
}
.currimg{
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.sv-bt{
  display: flex;
  align-items: center;
}
.btc7788:hover{
  background-color: #363945 !important;
}
.btc7788{
  display: flex;
  cursor: pointer;
  flex-direction: row;
  align-items: center;
  padding-right: 8px;

}
.curre1257 {
  background: #12161c;
  width: 200px;
  padding-right: 10px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07);
}
.serchmanu77{
  margin-top: 10px;
 border: 1px solid #363945 !important;
 border-radius: 5px !important;
  background-color: #1C2230 !important;
  color: white;
  height: 30px;
}
.serchmanu77:focus-visible{
  border: none !important;
  opacity: 0.8;
}
.svtron{
  width: 15px;
  height: 15px;
  fill: red;
}
.seare021{
  text-align: center;
}
.watwins{
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}
.watwins:hover{
  background: none !important;
  border: none !important;
  opacity: 0.8;
}
.watwins:focus , .watwins:active {
  background: none !important;
  border: none !important;
}
.btn-primary {
  --mdb-btn-bg: #24ae8f;
  --mdb-btn-color: #fff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #24ae8f;
  --mdb-btn-hover-bg: #24ae8f;
  --mdb-btn-hover-color: #fff;
  --mdb-btn-focus-bg: #24ae8f;
  --mdb-btn-focus-color: #fff;
  --mdb-btn-active-bg: #24ae8f;
  --mdb-btn-active-color: #fff;
}

.walletbt{
  background-color: #24ae8f;
  box-shadow: none !important;
  padding: 6px 12px !important;
  color: black;
}
.walletbt:focus , .walletbt:active{
  background-color: #24ae8f;
  border-bottom: 1px solid #cecece;
}
.tb746{
  justify-content: center;
  margin-top: 20px;
}
.tb746 .nav-link{
  padding: 10px !important;
  color: white;
  border-radius: 5px;
  text-transform: none !important;
}
.tb746 .nav-link:hover{
  background: none !important;
  opacity: 0.8;
}
.tb746 .active{
  background-color: #24ae8f !important;
  box-shadow: none !important;
  color: black !important;
  border: none !important;
}
.tb746 .active:hover{
  background-color: #00B4CC !important;
}
.head65{
  display: flex;
}
.walleticon{
  width: 20px;
  height: 20px;
  fill: white;
}
.walletp77{
  font-size: 15px;
  margin: 0;
  padding: 0;
  margin-left: 10px;
  margin-top: 5px;
}
.deposittrc77{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}
.one1{
  border: 1px dashed #a3a6af;
  padding: 5px;
  border-radius: 5px;
  margin-top: 20px;
}
.one1 span{
  font-size: 13px;
  color: #d1d4dc;
}
.one2{
  display: flex;
}
.cu0op{
  background-color: #0d1b32 !important;
  border: none !important;
  color: white !important;
  box-shadow:0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07)

}
.Qrcode{
  background: white;
  padding: 5px;
  margin-top: 10px;
  border-radius: 5px;
}
.copy75{
  color: white;
  font-size: 13px;
  border: none !important;
  box-shadow:0 4px 7px rgba(0, 0, 0, 0.15), 0 100px 80px rgba(255, 255, 255, 0.02), 0 42px 33px rgba(255, 255, 255, 0.024), 0 22px 18px rgba(255, 255, 255, 0.028), 0 12px 10px rgba(255, 255, 255, 0.034), 0 7px 5px rgba(255, 255, 255, 0.04), 0 3px 2px rgba(255, 255, 255, 0.07)
}
.copy75:hover{
  color: #00B4CC;
}
.one3{
  text-align: center;
}
.one4{
  margin-top: 5px;
}
.one5{
  margin-top: 5px;
}
.one6{
  margin-top: 5px;
}
.sefr0{
  margin-top: 5px;
}
.Wdro12{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px
}
.Wdro12 div{
  margin-top: 3px;
}
.wu1{}
.wu1 h4{
  color: white;
  font-size: 13px;
}
.wu2{}
.wu3{}
.wu3 input{
  box-shadow: 0 4px 7px rgb(0 0 0 / 15%), 0 100px 80px rgb(255 255 255 / 2%), 0 42px 33px rgb(255 255 255 / 2%), 0 22px 18px rgb(255 255 255 / 3%), 0 12px 10px rgb(255 255 255 / 3%), 0 7px 5px rgb(255 255 255 / 4%), 0 3px 2px rgb(255 255 255 / 7%);
  border: 1px solid #24ae8f !important;
  color: white !important;
}
.wu3 input:focus , .wu3 input:active{
  border: none !important;
}
.wu4 input{
  box-shadow: 0 4px 7px rgb(0 0 0 / 15%), 0 100px 80px rgb(255 255 255 / 2%), 0 42px 33px rgb(255 255 255 / 2%), 0 22px 18px rgb(255 255 255 / 3%), 0 12px 10px rgb(255 255 255 / 3%), 0 7px 5px rgb(255 255 255 / 4%), 0 3px 2px rgb(255 255 255 / 7%);
  border: 1px solid #24ae8f !important;
  color: white;
}
.wu4 input:focus , .wu3 input:active{
  border: none !important;
}
.wu4 label{
  font-size: 12px;
  color: white;
  align-items: flex-end;
  display: flex;
}
.wu3 label{
  font-size: 12px;
  color: white;
  align-items: flex-end;
  display: flex;
}
.verifygoogle{
  width: 100%;
}
.minilight svg{
  width: 18px;
  fill: white;
  background: red;
  border-radius: 50%;
  padding: 3px;
}
.w454{
  box-shadow: 0 4px 7px rgb(0 0 0 / 15%), 0 100px 80px rgb(255 255 255 / 2%), 0 42px 33px rgb(255 255 255 / 2%), 0 22px 18px rgb(255 255 255 / 3%), 0 12px 10px rgb(255 255 255 / 3%), 0 7px 5px rgb(255 255 255 / 4%), 0 3px 2px rgb(255 255 255 / 7%);
  border: 1px solid #24ae8f !important;
  color: white !important;
  background-color: #0d1b32;

}
.w454:focus , .w454:active{
  border: none !important;
  opacity: 0.8;
  background: none !important;
}
.wu4 img{
  width: 20px ;
  border-radius: 50%;
}
.max7{
  color: white;
}

.wu7 p{
  color: white;
  font-size: 13px;

}
.wu8{}
.wu9{}

.custom-dropdown select[disabled]::after {
  color: rgba(0, 0, 0, .1);
}



.custom-dropdown::after {
  color: rgba(0, 0, 0, .4);
}

.searching {
  width: 900px !important;
  max-width: 1200px;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm77 {
  width: 100%;
  border: 1px solid #363945;
  border-right: none;
  padding: 5px;
  height: auto;
  outline: none;
  color: #ffffff;
  background-color: #363945;
}

.searchTerm:focus {
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #1c2230;
  background: #1c2230;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrapp78 {
  width: 100%;
  display: flex;
  position: relative;
  top: 50%;
  left: 50%;
  border: 1px solid #363945;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.linkwins {
  background-color: #111722;
  color: white;
  border: 1px solid #363945;
  border-radius: 10px;
}

.btn-secondary {
  --mdb-btn-bg: #363945;
  --mdb-btn-color: #ffffff;
  --mdb-btn-box-shadow: 0 4px 9px -4px #0047b1;
  --mdb-btn-hover-bg: #111722;
  --mdb-btn-hover-color: #e8e9ea;
  --mdb-btn-focus-bg: #0d1b32;
  --mdb-btn-focus-color: #b5b6b8;
  --mdb-btn-active-bg: #07121e;
  --mdb-btn-active-color: #e5e7ee;
  border-radius: 0;
}
.bybuy77{
  display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}
.farz77{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
.pwh77{
  display: flex;
  color: white;
  font-size: 13px;
}
.nowins{
  color: white;
}
.chip {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.chip:hover {
  background: #111722;
  cursor: pointer;
}
.butowins{
  display: flex;
 
}

.butowins button{
  background-color: #24ae8f;
  width: 100%;
  margin: 13px 5px;
  color: black;
  opacity: 0.8;
}
.tx77wins span{
color: white;
font-size: 13px;
}
.spnwins span{
  color: #00A2C7;
  font-size: 15px;
}

.tipowins{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 10px;
}

.not4rt{
  display: flex;
  align-items: center;
}
.public77{
  background-color: #00B4CC !important;
}
.six67 span{
  display: flex;
  color: white;
  font-size: 12px;
}
.sendip button{
  width: 100%;
}
.ww0coin{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.btn-check:active+.btn-secondary:hover,
.btn-check:checked+.btn-secondary:hover,
.btn-secondary.active:hover,
.btn-secondary.show:hover,
.btn-secondary:active:hover {
  background-color: #1c2230;
}

.winslogo {
  width: 48px;
  height: 45px;
}

.latinlogo {
  width: 100px;
  height: 35px;
}

.p-5 {
  padding: 8px !important;
}

.navbar {
  background-color: #12161c !important;
  padding-right: 20px;
  padding-left: 20px;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  opacity: 0.8 !important;
}

.blue:hover {
  color: #2962ff !important;
}

.green:hover {
  color: #24ae8f !important;
}

.red:hover {
  color: #A20000 !important;
}

.searchicon {
  width: 10px;
  height: 10px;
}

.navbar-expand-lg .navbar-nav {
  margin-left: 145px;
}

.register:hover {
  background-color: #00B4CC;
}

.register {
  padding: 6px 12px !important;
  display: none;
}
.Sign {
  display: none;
  background: none;
  box-shadow: none !important;
  padding: 6px 12px !important;
}

.searchi {
  padding: 6px 12px !important;
  background: none;
  box-shadow: none !important;
}

.searchi:hover {
  opacity: 0.8;
  background: none;
  box-shadow: none !important;
}

.searchi:focus,
.Sign:focus,
.register:focus {
  background: none !important;
}

.searchi:active,
.Sign:active,
.register:active {
  background: none !important;
}

.profilcont77{
  background-color: #1e222d !important;
  color: white;
}
.gqwins{
  padding: 15px !important;
  background-color: white !important;
  cursor: pointer;
}
.profilcont77 li a{
  color: white;
  font-size: 12px;
}
.navIcon{
  width: 40px;
  height: 40px;
  background-color: #2a2e39;
  border-radius: 11px;
  cursor: pointer;
  color: white;
}
.navIcon:hover{
  color: #24ae8f;
}
.appdl57:hover{
  color: #24ae8f;
}
.appdl57{
  width: 40px;
    height: 40px;
    padding: 7px;
    color: #ffffff;
    cursor: pointer;
    background-color: #2a2e39;
    border-radius: 11px;
}
.qqrr77{
  width: 100%;
}
.Sign:hover {
  opacity: 0.8;
  background: none;
  box-shadow: none !important;
}
.profile77{
  width: 35px;
  height: 37px;
  border-radius: 50%;
}

.sliderwis{

  width: 1135px;
margin-top: 30px;
}
.gallery {
  background-color: #131722;
}

.gallery-cell {
  width: 67%;
  height: auto !important;
  margin-right: 10px;
  padding: 15px;
}
.gallery-cell img{
  border-radius: 10px;
}
.text-center{
  text-align:center
}

/* sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .register {
    display: none;
  }

  .Sign {
    display: none;
  }
}

/* md` applies to small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .register {
    display: none;
  }

  .Sign {
    display: none;
  }
}

/* `lg` applies to medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .register {
    display: none;
  }

  .Sign {
    display: none;
  }
}

/* `xl` applies to large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* `xxl` applies to x-large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}